// ## Layout
// The designs were created to the following widths:
// - Mobile: 375px
// - Desktop: 1440px
// Colors
//Primary
$Darkcyan: hsl(158, 36%, 37%);
$DarkcyanHover: hsl(158, 36%, 24%);
$Cream: hsl(30, 38%, 92%);
// Neutral
$Verydarkblue: hsl(212, 21%, 14%);
$Darkgrayishblue: hsl(228, 12%, 48%);
$White: hsl(0, 0%, 100%);
//Typography
//Font size (paragraph)
$fontsize:14px;
//FontFamily
$Montserrat:'Montserrat',
'sans-serif';
$Fraunces:'Fraunces',
'serif';